* {
    font-family: 'Titan One', cursive;
}

body {
    background-color: #FFDCA9;
}

.btn-outline-pastel {
    color: #FAAB78;
    border-color: #FAAB78;
}

.btn-outline-pastel:hover {
    color: #fff;
    background-color: #FAAB78;
    border-color: #FAAB78;
}

.btn-pastel {
    color: #fff;
    background-color: #FAAB78;
    border-color: #FAAB78;
}

.text-pastel {
    color: #FAAB78;
}

.header-h-100 {
    height: 80vh;
}

.shadow-text {

    text-shadow: 0 0.1rem 0 rgb(0 0 0 / 20%) !important;
}

.text-header {
    font-size: 4rem;
    letter-spacing: 1px;
    text-shadow: 0 0.1rem 0 rgb(0 0 0 / 20%);
    width: 54%;
}